// Global Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Mono', monospace;
}

// Main Styles

.main {
    width: 100%;
    height: 100%;
    position: relative;
    background: #161616;

    &__content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 5rem 1fr 5rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.content {
    &__image {
        grid-area: 1 / 2 / 4 / 3;
        overflow: hidden;

        .image {
            &__oval {
                width: 200%;
                height: 200%;
                // background: blueviolet;
                border: 1rem solid #161616;
                border-radius: 100%;
                position: relative;
                top: -50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                .oval {
                    &__gradient {
                        width: 100%;
                        height: 100%;
                        border: 1rem solid #161616;
                        border-radius: 100%;
                        background-image: linear-gradient(273deg, #21D4FD 0%, #B721FF 100%);
                        animation: gradient__rotation 5s linear forwards infinite;

                        @keyframes gradient__rotation {
                            0% {
                                transform: rotate(0deg);
                            }

                            100% {
                                transform: rotate(360deg);;
                            }
                        }
                    }
                    
                    &__image {
                        position: absolute;
                        width: 50%;
                        height: 50%;
                        background: url(https://uploads-ssl.webflow.com/596a9d16d477b751b56b10a0/5abbfa151380e06559c3df39_hero-p-500.png) center center / 50% no-repeat;
                        right: 940px;
                        
                    }
                }
            }
        }
    }

    &__details {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;
        
        .details {
            &__container {
                color: #fff;
                margin-left: 8rem;

                .container {
                    &__title {
                        font-size: 4rem;    
                        line-height: 4rem;
                        font-weight: 700;
                        width: 50%;
                        margin-bottom: 2rem;
                        text-transform: uppercase;
                    }

                    &__description {
                        font-size: 1rem;
                        line-height: 1.5rem;
                        width: 50%;
                        margin-bottom: 2rem;
                    }

                    &__button {
                        width: 14rem;
                        height: 4rem;
                        outline: none;
                        border: none;
                        position: relative;
                        z-index: 2;
                        overflow: hidden;
                        font-family: 'IBM Plex Mono', monospace;
                        color: #fff;
                        cursor: pointer;
                        transition: 300ms ease-in-out;

                        &:hover {
                            .button__gradient {
                                animation: button__gradient linear 5s forwards infinite;
                                transition: 300ms ease-in-out;
                            }

                            @keyframes button__gradient {
                                0% {
                                    transform: rotate(0deg);
                                    background-image: linear-gradient(273deg, darken( #21D4FD, 20% )0%, #B721FF 100%);
                                }

                                100% {
                                    transform: rotate(360deg);
                                    background-image: linear-gradient(273deg, darken( #21D4FD, 20% )0%, #B721FF 100%);
                                }
                            }
                        }

                        .button {
                            &__gradient {
                                width: 200%;
                                height: 700%;
                                background-image: linear-gradient(273deg, darken( #21D4FD, 0% ) 0%, #B721FF 100%);
                                position: absolute;
                                top: -350%;
                                left: -50%; 
                                z-index: -1;
                                transition: 300ms ease-in-out;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
